<div class="ui red large vertical demo sidebar menu" ui-sidebar>
  <form ng-submit="addUser(user)">
    <input type="text" placeholder="email"    class="form-control" ng-model="user" typeahead="user as user.local.email for user in users | filter:$viewValue | limitTo:8">
    <input type="submit" value="Submit" class="form-control">
  </form>
  <div class="item" ng-repeat="cal in calendars" style="background-color: {{cal.color}}; color: white">
    <h3>{{cal.owner.local.email}}</h3>
  </div>
</div>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-click="toggleSidebar()">設定使用者</a></li>
  </ul>
  <h3 class="text-muted">CalShare</h3>
</div>

<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

<div class="footer">
  <p>♥ from the HackEverything team</p>
</div>
