<!doctype html>
<html>
<head>
	<title>Share!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body style="background:url(http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg);">
<!-- <div style="background:url(https://dl.dropboxusercontent.com/u/79375953/WebSites/07.jpg);" class="container">
 -->
	<div style="background-color: rgba(0,0,0,0.3);" class="jumbotron text-center">
		<h1 style="font-size:70px;color:white;font-weight:lighter;">CalShare</h1>

		<p style="color:white;font-weight:100">One key to share, and find common free time!</p>

		<a href="/login" style="font-size:22px;" class="btn btn-primary"></span>  Login  </a><br>
		<a href="/signup" style="margin-top:10px;font-size:22px;" class="btn btn-info">  Signup  </a>

	</div>
	<div style="float:right;">
		<!-- <p style="color:white;font-size:16px;font-family:Helvetica;font-weight:100;"> from  HackEverything </p>  -->
<!-- 	</div>
 -->

</div>

</body>
</html>