<!doctype html>
<html>
<head>
	<title>Share!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
		.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
	</style>
</head>
<body style="background:url(http://24.media.tumblr.com/31f24c22894d6d46a7b6f4b0687db9cd/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg);">
<!-- <div style="background:url(https://dl.dropboxusercontent.com/u/79375953/WebSites/07.jpg);" class="container">
 -->
	<div style="background-color: rgba(0,0,0,0.3);" class="jumbotron text-center">
		<h1 style="font-size:90px;color:white;font-weight:lighter;">CalShare</h1>

		<p style="font-size:40px;color:rgba(255,255,255,0.8);;font-weight:100">One key to share, and find common free time!</p>
		<p style="font-size:20px;color:orange;font-weight:200">一鍵分享行程，毋須再邀約，再開FaceBook民調，且保有隱私。</p>

		<a href="/login" style="color:whilte;font-size:22px;" class="btn btn-warning"></span>  Login  </a><br>
		<a href="/signup" style="margin-top:10px;font-size:22px;" class="btn btn-primary">  Signup  </a>

	</div>
	<div style="float:right;">
		<!-- <p style="color:white;font-size:16px;font-family:Helvetica;font-weight:100;"> from  HackEverything </p>  -->
<!-- 	</div>
 -->

</div>

</body>
</html>