<!doctype html>
<html>
<head>
	<title>Login!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body style="background:url(https://dl.dropboxusercontent.com/u/79375953/WebSites/work_in_progress-wallpaper-1440x900.jpg);">
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1 style="font-size:50px;font-weight:100;color:white;"> Login</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div style="font-weight:100;color:white;" class="form-group">
			<!-- <p style="font-size:20px;">Email</p> -->
			<input type="text" class="form-control" name="email" placeholder="Username">
		</div>
		<div style="font-weight:100;color:white;" class="form-group">
			<!-- <p style="font-size:20px;">Password</p> -->
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>

		<button style="color:white;" type="submit" class="btn btn-info btn-lg">Login</button>
	</form>


	<hr>
	<span style="font-weight:100;font-size:24px;color:white;">No acount? </span><a class="btn btn-primary" href="/signup">Signup</a>
	
	<span style="font-weight:100;font-size:24px;color:white;">Or go  </span><a style="color:white;" class="btn btn-success" href="/">Home</a>

</div>
</div>
</body>
</html>
