<!doctype html>
<html>
<head>
	<title>Sign Up!</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body style="background:url(https://dl.dropboxusercontent.com/u/79375953/WebSites/iphone_and_ipad-wallpaper-1280x800.jpg);">
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1 style="font-size:50px;color:white;font-weight:100;"> Sign Up</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<!-- <label>Email</label> -->
			<input type="text" class="form-control" name="email" placeholder="Username">
		</div>
		<div class="form-group">
			<!-- <label>Password</label> -->
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<div class="form-group">
			<!-- <label>Google Calendar ID</label> -->
			<input type="text" class="form-control" name="calendarID" placeholder="Calendar ID">
		</div>

		<button type="submit" class="btn btn-info btn-lg">Signup</button>
	</form>

	<hr>

	<span style="font-weight:100;font-size:24px;color:white;">Already have an account? </span><a class="btn btn-primary" href="/login">Login</a>
	<span style="font-weight:100;font-size:24px;color:white;">Or go  </span><a class="btn btn-success" href="/">Home</a>


	</div>

</div>
</div>
</body>
</html>
